/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Alpha-logo g{
fill: #36c620;
}
.Alpha-logo path {
  stroke: #4837e0;
  ;
  stroke-width: 1px;
  fill: #cd9932;
  stroke-dasharray: 35px 15px;
  animation: orbit 1s infinite linear;
} */



.navbar-menu,
.nav-list {
display: flex;
}