:global(*) {
  box-sizing: border-box;
}

.mainContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 600px 250px;
  grid-template-areas: 
    'register cart'
    'pg-control cart';
}

.registerContainer {
  grid-area: register;
  display: flex;
  flex-direction: column;
}

.cartContainer {
  grid-area: cart;
}

.progressControl {
  grid-area: pg-control;
}
